<div class="login-container">
    <div class="login-box">
        <h1 class="title">
            <span translate="login.welcome-to">Welcome to</span><br>
            <span class="larger-text">Agile Poker</span>
        </h1>
        
        <form id="login-form" novalidate>
            <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="30" pattern="^[a-zA-Z0-9_\-\.]+$" placeholder="Enter your username" translate="login.form.username">
            <input type="password" id="password" name="password" class="form-control" minlength="3" maxlength="20" pattern="^[^\s]+$" placeholder="Enter your password" translate="login.form.password">
            <p>
                <span translate="login.dont-have-an-account">Don't have an account yet?</span> 
                <a href="/register" class="register-link" translate="login.register-now">Register now</a>.
            </p>
            <button type="submit" id="submit-btn" class="btn-primary" translate="login.enter">Enter</button>
        </form>
    </div>

</div>
