@import 'variables.scss';

button{
    cursor: pointer;
}

.btn{
    border-radius: 8px;
    height: 58px;
    padding: 10px;
    margin-block: 10px;
    font-weight: 700;
    transition: background-color .3s ease;
}

.btn-primary{
    border: none;
    width: 100%;
    background-color: $main;
    color: white;

    &:hover{
        background-color: $main-dark;
    }
}

.btn-ghost{
    border: 2px solid $main-black;
    background-color: transparent;
    color: $main-black;

    &:hover{
        background-color: $gray-1;
    }
}

.invalid-click{
    background-color: $error;
    animation: shake .3s;

    &:hover{
        background-color: $error !important;
    }
}

@keyframes shake {
    0%{
        transform: translateX(-5px);
    }
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(-5px);
    }
}

.loading{
    background: linear-gradient(90deg, $main 0%, $main 50%, $main-dark 50%, $main-dark 100%);
    background-size: 200% 200%;
    animation: background-loading 2s ease-in-out infinite;
}

@keyframes background-loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}