@import url(main.css);

.title-1{
    font-family: 'Manrope';
    font-size: 3rem;
    font-weight: 800;
    color: #3A2D32;
}

.title-2{
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 700;
    color: #3A2D32;
}