@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'variables.scss';

*{
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: normal;
    color: $main-black;
}

.title-1{
    font-family: 'Manrope';
    font-size: 3rem;
    font-weight: 800;
}

.title-2{
    font-family: 'Manrope';
    font-size: 1.5rem;
    font-weight: 700;
    margin-block: 10px;
}