@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: normal;
}

.title-1{
    font-family: 'Manrope';
    font-size: 3rem;
    font-weight: 800;
    color: #3A2D32;
}

.title-2{
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 700;
    color: #3A2D32;
}