@import 'variables.scss';

.form-control{
    border: $main-black solid 2px;
    background-color: transparent;
    border-radius: 8px;
    height: 58px;
    padding: 20px;
    margin-block: 10px;
    box-sizing: border-box;
    width: 100%;
}

.form-control:invalid{
    border-color: $error;
}

.form-control::placeholder{
    color: $light-gray;
}

.red-border{
    border-color: $error !important;
}

small{
    display: none;
    margin-left: 5%;
    font-size: .8rem;
    width: 100%;
    animation: show ease .3s forwards;
}

@keyframes show {
    0% {
        transform: translateX(-20px);
    } 
    100% {
        transform: translateX(0px);
    } 
}