.form-control{
    border: #3A2D32 solid 2px;
    border-radius: 8px;
    height: 28px;
    padding: 10px;
    margin-block: 10px;
}

.form-control::placeholder{
    color: #808080;
    font-size: .8rem;
}