/*main colors*/
$main: hsl(126, 36%, 62%);
$main-dark: hsl(126, 24%, 52%);
$main-black: hsl(337, 13%, 20%);
$main-white: hsl(150, 100%, 98%);

/*secondary colors*/
$light-gray: hsl(0, 0%, 50%);

/*status colors*/
$error: hsl(354, 70%, 50%);
$warning: hsl(29, 89%, 58%);

/*utils colors*/
$shadow-color: rgba(68, 68, 68, 0.2);