<div class="home-container">
    <div class="room-options">
        <input type="text" class="form-control" placeholder="Enter room name or code" translate="generic.room-name-or-code">
        <button type="button" class="btn btn-primary create-room-btn" translate="generic.create-a-new-room">Create a new room</button>
    </div>
    <div class="rooms">
        <div class="room">
            <div class="name">Room 1</div>
            <div class="mode">Sequential</div>
            <div class="created-date">2023-01-01</div>
            <div class="copy-code"></div>
        </div>
        <div class="room">
            <div class="name">Room 2</div>
            <div class="mode">Sequential</div>
            <div class="created-date">2023-01-01</div>
            <div class="copy-code"></div>
        </div>
        <div class="room">
            <div class="name">Room 3</div>
            <div class="mode">Sequential</div>
            <div class="created-date">2023-01-01</div>
            <div class="copy-code"></div>
        </div>
        <div class="room">
            <div class="name">Room 4</div>
            <div class="mode">Sequential</div>
            <div class="created-date">2023-01-01</div>
            <div class="copy-code"></div>
        </div>
        <div class="room">
            <div class="name">Room 5</div>
            <div class="mode">Sequential</div>
            <div class="created-date">2023-01-01</div>
            <div class="copy-code"></div>
        </div>
    </div>
</div>