@import './../../styles/variables.scss';

.navbar-container{
    padding: 20px 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.navbar-container .logo{
    width: 30%;
}

.navbar-container .options{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

.navbar-container .options .option{
    display: flex;
    align-items: center;
}

.navbar-container .profile .username{
    color: $main-black;
    margin-right: 5px;
}

.navbar-container .profile .profile-img{
    position: relative;
    border-radius: 100%;
    width: 2.1rem;
    height: 2.1rem;
    background-color: red;

    &:hover{
        cursor: pointer;
    }
}

.navbar-container .translation{
    margin-right: 15px;
}

.navbar-container .profile .profile-img .profile-options{
    position: absolute;
    background-color: $main-white;
    top: 130%;
    right: 0;
    box-shadow: 1px 1px 20px $shadow-color;
    border-radius: 6px;
}

.navbar-container .profile .profile-img .profile-options div{
    display: flex;
    border-radius: 6px;
    padding: 10px 20px;
    text-wrap: nowrap;

    &:hover{
        cursor: pointer;
        background-color: $main;

        span {
            color: $main-white;
        }
    }
}

.logout:hover{
    background-color: $main-red !important;
    color: $main-white;
}