@import './../../styles/variables.scss';

.navbar-container{
    padding: 20px 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.navbar-container .logo{
    width: 30%;
}

.navbar-container .options{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

.navbar-container .options .option{
    display: flex;
    align-items: center;
}

.navbar-container .profile .username{
    color: $main-black;
    margin-right: 5px;
}

.navbar-container .profile .profile-img{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: red;
}

.navbar-container .translation{
    margin-right: 15px;
}