<div class="register-container">
    <h1 class="title-2">Join us now</h1>
    <form id="register-form" novalidate>
        <div class="input-element">
            <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="30" pattern="^[a-zA-Z0-9_\-\.]+$" placeholder="Your best username">
            <small class="min-length">Must have at least 3 characters</small>
            <small class="max-length">Must have a maximum of 30 characters</small>
            <small class="pattern">Must not contain special characters or spaces</small>
        </div>
        <div class="input-element">
            <input type="text" id="firstName" name="firstName" class="form-control" minlength="3" maxlength="30" pattern="^\p{L}[\p{L} ]*\p{L}$" placeholder="First name">
            <small class="min-length">Must have at least 3 characters</small>
            <small class="max-length">Must have a maximum of 30 characters</small>
            <small class="pattern">Must not contain special characters, numbers or spaces at the ends</small>
        </div>
        <div class="input-element">
            <input type="text" id="lastName" name="lastName" class="form-control" minlength="3" maxlength="30" pattern="^\p{L}[\p{L} ]*\p{L}$" placeholder="Last name">
            <small class="min-length">Must have at least 3 characters</small>
            <small class="max-length">Must have a maximum of 30 characters</small>
            <small class="pattern">Must not contain special characters, numbers or spaces at the ends</small>
        </div>
        <div class="input-element">
            <input type="password" id="password" name="password" class="form-control" minlength="6" maxlength="20" pattern="^[^\s]+$" placeholder="Password">
            <small class="min-length">Must have at least 6 characters</small>
            <small class="max-length">Must have a maximum of 20 characters</small>
            <small class="pattern">Must not contain spaces</small>
        </div>
        <button type="submit" id="submit-btn" class="btn-primary">Create account</button>
        <p>
            I already have an account. <a href="/login" class="login-link">Login</a>.
        </p>
    </form>
</div>
