<div class="register-container">
    <h1 class="title-2" translate="register.join-us">Join us now</h1>
    <form id="register-form" novalidate>
        <div class="input-element">
            <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="30" pattern="^[a-zA-Z0-9_\-\.]+$" placeholder="Your best username" translate="register.form.username">
            <small class="min-length" translate="register.info.min-length-3">Must have at least 3 characters</small>
            <small class="max-length" translate="register.info.max-length-30">Must have a maximum of 30 characters</small>
            <small class="pattern" translate="register.info.username-pattern">Must not contain special characters or spaces</small>
        </div>
        <div class="input-element">
            <input type="text" id="firstName" name="firstName" class="form-control" minlength="3" maxlength="30" pattern="^\p{L}[\p{L} ]*\p{L}$" placeholder="First name" translate="register.form.first-name">
            <small class="min-length" translate="register.info.min-length-3">Must have at least 3 characters</small>
            <small class="max-length" translate="register.info.max-length-30">Must have a maximum of 30 characters</small>
            <small class="pattern" translate="register.info.name-pattern">Must not contain special characters, numbers or spaces at the ends</small>
        </div>
        <div class="input-element">
            <input type="text" id="lastName" name="lastName" class="form-control" minlength="3" maxlength="30" pattern="^\p{L}[\p{L} ]*\p{L}$" placeholder="Last name" translate="register.form.last-name">
            <small class="min-length" translate="register.info.min-length-3">Must have at least 3 characters</small>
            <small class="max-length" translate="register.info.max-length-30">Must have a maximum of 30 characters</small>
            <small class="pattern" translate="register.info.name-pattern">Must not contain special characters, numbers or spaces at the ends</small>
        </div>
        <div class="input-element">
            <input type="password" id="password" name="password" class="form-control" minlength="6" maxlength="20" pattern="^[^\s]+$" placeholder="Password" translate="register.form.password">
            <small class="min-length" translate="register.info.min-length-6">Must have at least 6 characters</small>
            <small class="max-length" translate="register.info.max-length-20">Must have a maximum of 20 characters</small>
            <small class="pattern" translate="register.info.password-pattern">Must not contain spaces</small>
        </div>
        <button type="submit" id="submit-btn" class="btn-primary" translate="register.create-account">Create account</button>
        <p>
            <span translate="register.already-account">I already have an account</span>.
            <a href="/login" class="login-link" translate="register.login">Login</a>.
        </p>
    </form>
</div>
