@import './../../styles/variables.scss';

.register-container{
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    animation: show ease 1s forwards;
}

.register-container h1, form{
    width: 100%;
}

.register-container form p{
    text-align: center;
    margin-top: 5px;
    font-size: .9rem;
}

.register-container .login-link{
    font-size: .9rem;
    font-weight: 700;

    &:hover{
        color: $main;
    }
}